<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    @*D21 使用Ajax 以在商品頁面加入購物車(加入後不能離開目前的商品瀏覽頁面)
        在HTML的head區段中新增一段JavaScript，
            主要為AddToCart()方法，
            此方法將傳入的productid丟給CartControoler中的AddToCart()方法，
            並且將回傳的購物車頁面更新至id為Cart的li元素裡*@

    @*購物車JS*@
    <script type="text/javascript">
        $(document).ready(function () {
            //網頁載入完成時，執行的 function
            console.log("Ready!");
        });

        function AddToCart(productId) {
            //加入編號為 productId 的商品到購物車
            //<param name="productId">The product identifier.</param>
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddToCart", "Cart")',
                data: { id: productId },
                error: function (message) {
                    console.log(message)
                },
                success: function (message) {
                    // 將回傳的購物車頁面，填入 li#Cart
                    $('li#Cart').html(message);
                    console.log(productId + "已加入");
                }
            });

        }

        //Day22_3  新增JavaScript中的RemoveFromCart()方法，呼叫CartController 的RemoveProduct() Action
        function RemoveFromCart(productId) {
            /// <summary>
            /// 從購物車移除編號為 productId 的商品
            /// </summary>
            /// <param name="productId">The product identifier.</param>
            /// <returns></returns>

            //$.ajax < 注意前面要有「.」
            $.ajax({
                type: "POST",
                url: '@Url.Action("RemoveFromCart","Cart")',
                data: { id: productId },
                error: function (message) {
                    console.log(message);
                },
                success: function (message) {
                    //// 將回傳的購物車頁面，填入 li#Car
                    $('li#Cart').html(message);
                    console.log(productId + "已刪除");
                }
            });
        }

        //Day23  新增JavaScript中的ClearCart()方法，呼叫CartController 的ClearCart() Action
        //清空購物車內所有商品
        function ClearCart() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ClearCart","Cart")',
                data: {},
                error: function (message) {
                    console.log(message);
                },
                success: function (message) {
                    $('li#Cart').html(message);
                    console.log("已清空");
                }
            });
        }

    </script>


</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(" IT鐵人購物網站", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("首頁", "Index", "Home")</li>
                    <li>@Html.ActionLink("關於", "About", "Home")</li>
                    <li>@Html.ActionLink("連絡方式", "Contact", "Home")</li>
                    <li>@Html.ActionLink("商品管理", "Index", "Product")</li>
                    <li>@Html.ActionLink("會員管理", "Index", "ManageUser")</li>
                    <li>@Html.ActionLink("訂單管理", "Index", "ManageOrder")</li>
                    <li id="Cart">
                        @*可直接寫 「@Html.Partial("_CartPartial")」，或：*@
                        @{
                            Html.RenderPartial("_CartPartial");
                        }
                    </li>
                </ul>
                @{
                    Html.RenderPartial("~/Views/Shared/_LoginPartial.cshtml");
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 我的 ASP.NET 應用程式</p>
        </footer>
    </div>

</body>
</html>
